<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Gennaro">
    <test name="app0">
        <parameter name="deviceName" value="emulator-5554" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="platformVersion" value="30.0" />
        <parameter name="url1" value="http://0.0.0.0:" />
        <parameter name="url2" value="/wd/hub"/>
        <parameter name="appname" value="app"/>


        <classes>
            <class name="Test_001"/>
        </classes>
    </test>

    <test name="app1">
        <parameter name="deviceName" value="emulator-5554" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="platformVersion" value="30.0" />
        <parameter name="url1" value="http://0.0.0.0:" />
        <parameter name="url2" value="/wd/hub"/>
        <parameter name="appname" value="app1"/>

        <classes>
            <class name="Test_001"/>
        </classes>
    </test>
</suite>
